@media screen and (min-width: 1024px) {
    footer {
        background-image: url("../img/footer.jpg");
        background-size: cover;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 25px 0px;
    
        img {
            width: 320px;
            height: 140px;
        }
    
        div {
            h4 {
                text-decoration: none;
                font-weight: bold;
                color: black;
                font-size: 25px;
            }
            .contacto {
                display: flex;
                flex-direction: column;
                max-width: 25%;
            }
            label input {
                background-color: transparent;
                width: 400px;
                height: 40px;
                border-radius: 3px;
                border-style: solid;
                border-width: 2px;
                border-color: grey;
                margin-top: 10px;
                padding-left: 10px;
                margin-bottom: 20px;
            }
            label textarea {
                background-color: transparent;
                width: 400px;
                height: 40px;
                border-radius: 3px;
                border-style: solid;
                border-width: 2px;
                border-color: grey;
                cursor: pointer;
                margin-top: 10px;
                padding-left: 10px;
                margin-bottom: 20px;
            }
            label {
                color: rgb(190, 190, 190);
                text-decoration: underline;
            }
            ::placeholder {
                color: rgb(190, 190, 190);
            }
            input {
                height: 40px;
                padding-left: 5px;
                padding-right: 5px;
                margin-bottom: 20px;
                margin-top: 10px;
                background-color: transparent;
                border-color: grey;
                border-style: solid;
                border-radius: 3px;
                width: 100px;
                cursor: pointer;
                color: rgb(190, 190, 190);
            }
        }
        div p {
            color: white;
            padding-left: 20rem;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    footer {
        background-image: url("../img/footer.jpg");
        background-size: cover;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1.5rem 0px;
    
        img {
            width: 15rem;
            height: 7.5rem;
            padding-right: 2.5rem;
        }
    
        div {
            h4 {
                text-decoration: none;
                font-weight: bold;
                color: black;
                font-size: 1.5rem;
            }
            .contacto {
                display: flex;
                flex-direction: column;
                max-width: 25%;
            }
            label input {
                background-color: transparent;
                width: 20rem;
                height: 2rem;
                border-radius: 3px;
                border-style: solid;
                border-width: 2px;
                border-color: grey;
                margin-top: 10px;
                padding-left: 10px;
                margin-bottom: 20px;
            }
            label textarea {
                background-color: transparent;
                width: 20rem;
                height: 2rem;
                border-radius: 3px;
                border-style: solid;
                border-width: 2px;
                border-color: grey;
                cursor: pointer;
                margin-top: 10px;
                padding-left: 10px;
                margin-bottom: 20px;
            }
            label {
                color: rgb(190, 190, 190);
                text-decoration: underline;
            }
            ::placeholder {
                color: rgb(190, 190, 190);
            }
            input {
                height: 40px;
                padding-left: 5px;
                padding-right: 5px;
                margin-bottom: 20px;
                margin-top: 10px;
                background-color: transparent;
                border-color: grey;
                border-style: solid;
                border-radius: 3px;
                width: 100px;
                cursor: pointer;
                color: rgb(190, 190, 190);
            }
        }
        div p {
            color: white;
            padding-left: 20rem;
        }
    }
}

@media screen and (max-width: 767px) {
    footer {
        background-image: url("../img/footer.jpg");
        background-size: cover;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1.5rem 0px;
    
        img {
            width: 7.5rem;
            height: 3.75rem;
            padding-right: 1rem;
        }
    
        div {
            h4 {
                text-decoration: none;
                font-weight: bold;
                color: black;
                font-size: 1rem;
                width: fit-content;
            }
            .contacto {
                display: flex;
                flex-direction: column;
            }
            label input {
                background-color: transparent;
                width: 10rem;
                height: 2rem;
                border-radius: 3px;
                border-style: solid;
                border-width: 2px;
                border-color: grey;
                margin-top: 10px;
                padding-left: 10px;
                margin-bottom: 20px;
            }
            label textarea {
                background-color: transparent;
                width: 10rem;
                height: 3rem;
                border-radius: 3px;
                border-style: solid;
                border-width: 2px;
                border-color: grey;
                cursor: pointer;
                margin-top: 10px;
                padding-left: 10px;
                margin-bottom: 20px;
            }
            label {
                color: rgb(190, 190, 190);
                text-decoration: underline;
                display: flex;
                flex-direction: column;
            }
            ::placeholder {
                color: rgb(190, 190, 190);
            }
            input {
                height: 40px;
                padding-left: 5px;
                padding-right: 5px;
                margin-bottom: 20px;
                margin-top: 10px;
                background-color: transparent;
                border-color: grey;
                border-style: solid;
                border-radius: 3px;
                width: 100px;
                cursor: pointer;
                color: rgb(190, 190, 190);
            }
        }
        div p {
            color: white;
        }
    }
}