header nav {
    background-color: rgba(0, 0, 0, 0.719);
    width: 100%;
    top: 0;
    header nav ul {
        display: flex;
        header nav ul li {
            margin: 15px;
            list-style-type: none;
            header nav ul li a {
                color: white;
                font-weight: bold;
                text-decoration: none;
            }            
        }        
    }
}